<div class="aula">
    <form id="survey-form" (ngSubmit)="incluiContato(nome, telefone, email, empresa)">
        <div class="form-group" >
            <label id="name-label" for="name">Nome</label>
            <input type="text" [(ngModel)]='nome' name="nome" placeholder="Digite o nome do contato">
        </div>
        <div class="form-group">
            <label id="name-label" for="name">Telefone</label>
            <input type="text" [(ngModel)]='telefone' name="telefone" placeholder="Digite o telefone do contato">
        </div>
        <div class="form-group">
            <label id="name-label" for="name">E-mail</label>
            <input type="text" [(ngModel)]='email' name="email"  placeholder="Digite o e-mail do contato">
        </div>
        <div class="form-group">
            <label id="name-label" for="name">Empresa</label>
            <input type="text" [(ngModel)]='empresa' name="empresa"  placeholder="Digite o nome da empresa do contato">
        </div>
        <input id="input-enviar" type="submit" value="Cornfirmar envio">
    </form>
    <div *ngIf="nome!='' ">
    </div>
</div>

